/* Global Styles */

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

p, li, a, small {
  font-family: 'Poppins', sans-serif;
}

/* Font hierarchy */

h1 {
 font-size: 3em;
}

h2 {
 font-size: 2.25em;
}

h3 {
  font-size: 1.75em;
}

p {
  color: hsla(0, 0%, 0%, 0.8);
}

@media only screen and (max-width : 767px) {

  h1 {
   font-size: 2em;
  }

  h2 {
   font-size: 1.625em;
  }

  h3 {
    font-size: 1.375em;
  }

}


/* Button */

.button_di-buffala {
  background-color: #325DFF;
  border-radius: 30px;
  padding: 2rem 6rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.button_di-buffala:hover {
  background-color: hsla(227, 100%, 60%, .1);
  color: #325DFF;
}

/* Navbar */

.navbar_di-buffala {
  background-color: #141414;
  color: hsla(0, 100%, 100%, 0.52);
}
.icon-bar {
  background-color: #fff;
}

.navbar-brand img {
  max-width: 120px;
}

.navbar-nav > li > a{
  color: #fff;
  text-shadow: none;
  text-transform: uppercase;
}
.nav > li > a:hover {
  background-color: initial;
  color: hsla(0, 0%, 100%, .5);
}

.navbar {
  margin-bottom: 0;
}

.header_di-buffala {
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 700px;
  padding-top: 150px;
  background-position: right bottom;
}

.header_di-buffala h1 {
  color: #fff;
  font-size: 5em;
}

.header_di-buffala p {
  color: hsla(0, 0%, 100%, .8);
  line-height: 22px;
  padding: 1rem 30vw;
}

@media only screen and (max-width : 767px) {

  .header_di-buffala {
    height: 500px;
    padding-top: 100px;
    background-position: center;
  }

  .header_di-buffala h1 {
    font-size: 3em;
  }

  .header_di-buffala p {
    padding: 1rem 4rem;
  }

}